
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" >
				<div class="p-2 ">

                    <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#"><span class="fa fa-home mr-2"></span> Home</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-user mr-2"></span> About</a>
                    </li>
                    <li>
                    <a href="#"><span class="fa fa-briefcase mr-2"></span> Portfolio</a>
                    </li>
                    <li>
                    <a href="#"><span class="fa fa-sticky-note mr-2"></span> Blog</a>
                    </li>
                    <li>
                    <a href="#"><span class="fa fa-paper-plane mr-2"></span> Contact</a>
                    </li>
                    </ul>



	      </div>
    	</nav>

        <div  style="width: 81%;margin-left: 1%; height: 90vh; overflow-y: auto;" >
    
            <div class="">

                <router-outlet></router-outlet>

            </div>
        </div>
</div>
