<mat-card>
    <mat-card-content>
        
        <div class="mt">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{result.username}}</span><span class="text-black-50">{{result.email}}</span><span> </span></div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="custom-form-control" placeholder="first name" value="{{result.firstName}}"></div>
                            <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="custom-form-control" value="{{result.lastName}}" placeholder="surname"></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">DOB</label><input type="text" class="custom-form-control" placeholder="first name" value="{{result.dateOfBirth}}"></div>
                            <div class="col-md-6"><label class="labels">Phone Number</label><input type="text" class="custom-form-control" value="{{result.phoneNumber}}" placeholder="surname"></div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Country</label><input type="text" class="custom-form-control" placeholder="country" value="{{result.country}}"></div>
                            <div class="col-md-6"><label class="labels">Gender</label><input type="text" class="custom-form-control" value="{{result.gender}}" placeholder="state"></div>
                        </div>
                        <button mat-raised-button class="but"> Save  </button>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 5.5%;">
                    <div class="p-3 py-5 ">
                        <div class="col-md-12 "><label class="labels">Residential Address</label><input type="text" class="custom-form-control" placeholder="experience" value="{{result.address}}"></div> <br>
                        <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="custom-form-control" placeholder="additional details" value=""></div>
                    </div>
                </div>
            </div>
        </div>

    
    </mat-card-content>
</mat-card>
  