


  .input-form{
    width: 45%;
  }

  .my-form{
    margin: auto;
    margin-top: 3%;
  }

  .row
  {
    margin: auto;
  }

  .form-btn{
    width: 88%;
    margin-left: 1%;
  }


  ::ng-deep .mat-form-field-infix {
        border: 0px !important;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
        transform: none !important;
    }
